<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="/js/undercore.js"></script>
        <script src="/js/backbone.js"></script>
        <script src="/js/models.js"></script>
    </head>
    <body class="container">
        <div class="alert alert-secondary">
            <%- include("../templates/menu.ejs") %>
        </div>
        <h1>Đơn hàng: <%= invoice.code %></h1>
        <button class="btn btn-warning" onclick="turnBack()">Trang trước</button>
        <h2>Khách hàng:</h2>
        <table class="table table-bordered">
            <tr>
               <td>Khách hàng</td>
               <td><%= invoice.customerName %></td> 
            </tr>
            <tr>
                <td>Điện thoại</td>
                <td><%- invoice.invoiceDelivery ? invoice.invoiceDelivery.contactNumber : '' %></td> 
            </tr>
            <tr>
                <td>Địa chỉ	</td>
                <td><%- invoice.invoiceDelivery ? invoice.invoiceDelivery.address : '' %></td> 
             </tr>
        </table>
        <h2>Danh sách hàng:</h2>
        <table class="table table-bordered">
            <tr>
               <td>Mã SP</td>
               <td>Tên SP</td>
               <td>Số lượng</td>
               <td>Hình ảnh SP</td>
               <td>Hành động</td>
            </tr>
            <% if(invoice.invoiceDetails){ %>
            <%  invoice.invoiceDetails.forEach(function(e){ %>
            <tr>
                <td><%= e.productCode %></td>
                <td><%= e.productName %></td>
                <td><%= e.quantity %></td>
                <td><a href="/invoices/image/<%= e.productId %>">Xem ảnh</a></td>
                <td><a href="/invoices/"></a></td>
            </tr>
            <% }) %>
            <% } %>
            
        </table>
        <h1>Các hành động</h1>
        <table class="table table-bordered">
            <tr>
               <td>Gửi SMS</td>
               <td><button class="btn <%-  invoice.actions ? (invoice.actions.length == 0) ? 'btn-warning' : 'btn-success' : 'btn-warning' %>" onclick="sendSms('/invoices/sms/<%= invoice.id %>')" <%-  invoice.actions ? (invoice.actions.length == 0) ? '' : 'disabled' : '' %>>Gửi SMS</button></td>
            </tr>
            <tr>
                <td>Đổi trạng thái</td>
                <td><button class="btn <%- (invoice.crDeliveryStatus.crDeliveryStatus == 1) ? 'btn-danger' : (invoice.crDeliveryStatus.crDeliveryStatus == 2) ? 'btn-warning' : (invoice.crDeliveryStatus.crDeliveryStatus == 3) ? 'btn-primary' : (invoice.crDeliveryStatus.crDeliveryStatus == 4) ? 'btn-info' : (invoice.crDeliveryStatus.crDeliveryStatus == 5) ? 'btn-success' : '' %>" onclick="nextStep('<%= invoice.crDeliveryStatus.invoiceCode %>')" <%- (invoice.crDeliveryStatus.crDeliveryStatus == 5) ? 'disabled' : ''%>><%- (invoice.crDeliveryStatus.crDeliveryStatus == 1) ? 'Đã soạn hàng' : (invoice.crDeliveryStatus.crDeliveryStatus == 2) ? 'Đã đóng hàng' : (invoice.crDeliveryStatus.crDeliveryStatus == 3) ? 'Đã giao hàng' : (invoice.crDeliveryStatus.crDeliveryStatus == 4) ? 'Khách đã nhận' : (invoice.crDeliveryStatus.crDeliveryStatus == 5) ? 'Khách đã nhận' : '' %></td>
            </tr>
        </table>

        <script>
            var invoice = <%- JSON.stringify(invoice) %>
            function turnBack(){
                window.history.back();
            }
            function sendSms(url){
              window.location.href= url;
            }
            function nextStep(code){
              var url = "/api/deliveryStatuss?invoiceCode=" + code;
              $.ajax(url, {
                method: "GET",
                success: function(data){
                    // console.log(data);
                    if (data.length > 0){
                      var id = data[0].id;
                      // console.log(id);
                      var next_status = {
                        invoiceCode: code,
                        crDeliveryStatus: data[0].crDeliveryStatus + 1
                      }
                      // console.log(next_status);
                      var stt = new DeliveryStatus({id : id});
                      // console.log(stt);
                      stt.save(next_status, {
                        success: function(){
                          // console.log("hello");
                          window.location.reload();
                        }, err: function(){
                          alert("Thất bại. Có lỗi gì đó rồi!");
                        }
                      });
                    }
                    else {
                      var next_status = {
                        invoiceCode: code,
                        crDeliveryStatus: 2
                      }
                      console.log(next_status);
                      var stt = new DeliveryStatus();
                      stt.save(next_status, {
                        success: function(){
                          console.log("hello");
                          window.location.reload();
                        }, err: function(){
                          alert("Thất bại. Có lỗi gì đó rồi!");
                        }
                      });
                    }
                },
                error: function(err){
                    console.log(err);
                }
              })
            }
        </script>
    </body>
</html>